mcr.microsoft.com/mssql/server:2022-latest

Start docker:

docker run -e "ACCEPT_EULA=Y" -e "SA_PASSWORD=YourStrong@Passw0rd" -p 1433:1433 --name UniversitySQLSRV -d mcr.microsoft.com/mssql/server:2022-latest